# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from Keyring import Google

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
# Import data from Part 1
Cities = "Output/CityData.csv"


# Bring it into a DataFrame
CityData = pd.read_csv(Cities)

CityData

            City      Lat       Lon   Temp  HUM  Cloud   Wind
0        Rikitea -23.1203 -134.9692  78.80   77     88  20.67
1        College  64.8569 -147.8028  36.00   55     75  13.80
2       Khatanga  71.9667  102.5000  30.90   92    100   7.94
3      Boyolangu  -8.1181  111.8935  73.85   91     72   1.54
4    Tuktoyaktuk  69.4541 -133.0374  21.20   79     20  10.36
..           ...      ...       ...    ...  ...    ...    ...
552        Hondo  32.4500  130.2000  68.00   73     75  27.63
553  Muyezerskiy  63.9333   31.6500  25.66   81     31   3.91
554  Belaya Gora  68.5333  146.4167  23.88   88    100  10.60
555     Necochea -38.5473  -58.7368  60.01   70      0   7.00
556    Bonavista  48.6499  -53.1147  42.80   75    100   3.44

[557 rows x 7 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
locations = CityData[["Lat", "Lon"]].astype(float)
PctHum = CityData["HUM"].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

humidity = gmaps.heatmap_layer(locations, weights=PctHum, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(humidity)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
Perfect = CityData.copy()
Perfect = Perfect.dropna()
Perfect = CityData.loc[CityData['HUM'] < 30]
Perfect = Perfect.loc[Perfect['HUM'] > 20]
Perfect = Perfect.loc[Perfect['Temp'] <85 ]
Perfect = Perfect.loc[Perfect['Temp'] > 70 ]
Perfect

               City      Lat       Lon   Temp  HUM  Cloud   Wind
118  Guerrero Negro  27.9769 -114.0611  84.79   25      0  15.37
191         Latehar  23.7500   84.5000  77.50   23      0   5.17
222      Rapid City  44.0805 -103.2310  84.99   21      1   6.91
250         Baghdad  33.3406   44.4009  82.40   26      0   6.91
330           Rolla  37.9514  -91.7713  78.01   29      1   3.44
367    Umm Kaddadah  13.6017   26.6876  79.86   26     13   2.42
379      Statesboro  32.4488  -81.7832  84.20   28      1  11.50
503         Nipawin  53.3668 -104.0009  71.60   24      1  10.36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure